[submodule "Engine/vendor/spdlog"]
	path = Engine/vendor/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Lithen/vendor/glfw"]
	path = Lithen/vendor/glfw
	url = https://github.com/SpentCoast/glfw.git
