[submodule "Lithen/vendor/glfw"]
	path = Lithen/vendor/glfw
	url = https://github.com/SpentCoast/glfw.git
[submodule "Lithen/vendor/spdlog"]
	path = Lithen/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Lithen/vendor/imgui"]
	path = Lithen/vendor/imgui
	url = https://github.com/SpentCoast/imgui
[submodule "Lithen/vendor/glm"]
	path = Lithen/vendor/glm
	url = https://github.com/icaven/glm
